<style>
    .logo-name{
            font-size: 35px;
            font-weight: 150;
            font-family:fantasy;
            text-transform: uppercase;
            color: #007bff;
            }
</style>
<div style="background-color: #007bff28;">
    <div class="row" >
        <div class="col-1-of-4" style="margin-right: 0; margin-bottom: 0; width: 150px;">
            <img src="/logo.png" alt="" width="90px" height="90px" class="mb-1 mt-1">
        </div>
        <div class="col-3-of-4">
            <h1 class="logo-name">Dawahi Alghayzeen United Trading EST.</h1>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Surveying | Designing | Mapping</p>
        </div>
     </div>
 </div>