<style>
  .navigation {
    height: 0;
  }
  .navigation__checkbox {
    visibility: hidden;
  }
  .navigation__button {
    background-color: #fff;
    height: 70px; /* 7rem */
    width: 70px; /* 7rem */
    position: fixed;
    top: 20px; /* 10px from top */
    right: 20px; /* 10px from right */
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .navigation__background {
    height: 60px; /* 6rem */
    width: 60px; /* 6rem */
    border-radius: 50%;
    position: fixed;
    top: 25px; /* 10px from top */
    right: 25px; /* 10px from right */
    background-image: radial-gradient(#00BFFF, #1A73E8);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }
  .navigation__nav {
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.14, 1.34);
  }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    padding-left: 230px;
  }
  .navigation__item {
    margin: 10px;
    margin-right: -225px;
  }
  .navigation__link:link, .navigation__link:visited {
    margin-left: -300px;
    margin-right: 200px;
    display: inline-block;
    font-size: 30px; /* 3rem */
    font-weight: 300;
    padding: 10px 20px; /* 1rem 2rem */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all 0.4s;
  }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 10px; /* 1rem */
    display: inline-block;
  }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #1A73E8;
    transform: translateX(10px); /* 1rem */
  }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
  }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }
  .navigation__icon {
    position: relative;
    margin-top: 35px; /* 3.5rem */
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 30px; /* 3rem */
    height: 3px; /* 0.3rem */
    background-color: #777;
    display: inline-block;
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: -8px; /* -0.8rem */
  }
  .navigation__icon::after {
    top: 8px; /* 0.8rem */
  }
  .navigation__button:hover .navigation__icon::before {
    top: -10px; /* -1rem */
  }
  .navigation__button:hover .navigation__icon::after {
    top: 10px; /* 1rem */
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  
  /* Media query for screen width 425px and below */
  @media (max-width: 320px) {
    .navigation__link:link,
    .navigation__link:visited {
      font-size: 1.5rem; /* Adjusted text size to small */
    }
  }
  </style>
  
  
<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
      <ul class="navigation__list" >
        <li class="navigation__item"><a href="/home" class="navigation__link"><span>01</span> Home</a></li>
        <li class="navigation__item"><a href="/projects" class="navigation__link"><span>02</span> Projects</a></li>
          <li class="navigation__item"><a href="/contactInfo" class="navigation__link"><span>03</span> Contact Us</a></li>
          <li class="navigation__item"><a href="/services" class="navigation__link"><span>04</span> Services</a></li>
          <li class="navigation__item"><a href="/staffInfo" class="navigation__link"><span>05</span> Staff Info</a></li>
          <li class="navigation__item"><a href="/equipments" class="navigation__link"><span>06</span> Survey Equipments</a></li>
      </ul>
  </nav>
</div>