<style>
  .nav-link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all 0.5s;
  }
  .nav-link:hover{
    background-position: 100%;
    color: #1A73E8;
  }
</style>

<nav class="navbar fixed-top" style="margin: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler bg-light" style="height: 50px;  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" style=" background-image: linear-gradient(#00BFFF, #3e7fd4);" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel" style="text-transform: uppercase;"><img src="/logo.png" style="height: 50px; width: 50px; margin-right: 3px;" alt="">Dawahi Alghayzeen United</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
              <li><a class="nav-link" <a href="/projects">Projects</a></li>
              <li><a class="nav-link" href="/about" >About Us</a></li>
              <li><a class="nav-link" href="/contactInfo" >Request a Quote</a></li>
              <li><a class="nav-link" href="/services" >Services We Provide</a></li>
              <li><a class="nav-link" href="/newService" >New Launch: Drone Surveying 🛰️</a></li>
              <li><a class="nav-link" href="/staffInfo" >Meet The Team</a></li>
              <li><a class="nav-link" href="/equipments" >Technology We Use</a></li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>