<% layout('layouts/boilerplate') %>
    <div class="container text-center">
        <h1 class="display-2 mb-3 text-center text-info"><b>Oops!</b></h1>
        <img src="/system.png" class="fluid-img  mx-auto d-block" style="height: 250px; width: 250px;" alt="">
        <p class="text-danger display-6"><%= message || "An error occurred. The page you're looking for doesn't exist." %></p>
        <a href="/" class="btn btn-outline-primary mb-5">Go back to Home</a>
    </div>

