<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/about.css">
<h1 class="display-4 text-center">About Us</h1>

<section class="about">
    <div class="row styled-row">
        <h3>Our Journey</h3>
        <h2 class="mb-1" style="font-size: 30px; font-weight: 200;">Dawahi Alghayzeen United Trading EST.</h2> 
        <p class="services-paragraph">started its journey in 2016 to undertake design and survey jobs of leading infrastructure contracting companies and consultants. We also were involved in other tasks in various fields like setting out, stake out, grading, cut / fill quantity estimation measurement, profile work, designing, feasibility study, alternative design proposal of roads, pipeline, electrical OH / UG line route survey, giving professional advice and providing solutions to design and survey related problems. </p>
        <p class="services-paragraph">After the success in the various areas, we started expansion in diversified areas and invested in latest and advanced technology, Customized / developed software for achieving target of massive survey area of Roads, Reservoir, Mining, and Petroleum Industries and Town Planning related works.</p>  
        <p class="services-paragraph">Through the rapid pace of success and technological advancement, the company created a cutting edge over many competitors and as a result, succeeded in serving needs for several government and private authorities.</p>
    
    </div>
</section>

<section class="about">
    <div class="row styled-row">
        <div class="col-1-of-2">
        <h3>Our Mission</h3>
        <ul>
            <li class="services-paragraph">Excel in quality and ensure client satisfaction by delivering professionally high quality cost effective services.</li>
            <li class="services-paragraph">Willingness to take up risky and challenging — time bound Land survey & leveling contracts by setting up standards in latest GPS & image scanning post process designing technologies.</li>
            <li class="services-paragraph"> Its commitment for excellence, demands for investment in cutting-edge spatial data equipment to stay up-to-date in the technology race.</li>
        </ul>
        <h4>Message From The CEO</h4>
        <p class="mb-1" style="font-size: 30px; font-weight: 200;">"Transforming insights into action—because understanding your audience is the key to unlocking success."</p> 
        <p>Muhammad Waqar Abid</p>
    </div>
    <div class="col-1-of-2" style="background-image: url('/ceo1.webp'); background-position: left; background-size: cover; height: 500px;">
    </div>
    </div>
</section>