<% layout('layouts/boilerplate') %>
<head>
  <title>Request a Quote | Dawahi Alghayzeen United Surveying Services</title>
  <meta name="description" content="Get a personalized quote for your project. Dawahi Alghayzeen United provides cost-effective and accurate surveying and contracting solutions in Oman.">
</head>
<link rel="stylesheet" href="/css/contactInfo.css">
<section class="contactInfo mb-5 mt-3" >
    <h5 class="display-5 text-center fw-normal">GET IN TOUCH</h5>
    <p class="text-center">We're here to assist you with your inquiries and provide solutions to meet your needs. Please feel free to reach out to us through any of the contacts below.</p>
    <div class="row">
        <div class="col-1-of-3 text-center column-element">
            <i style="color: #007bff;" class="display-4 fas fa-map-marker-alt"></i>
            <h4>HEAD OFFICE</h4>
            <p><a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;" href="https://maps.app.goo.gl/MC6SR4o3K5ESPmgeA">Al Ghubra, Muscat, Sultanate of Oman</a></p>
            <p>P.O. BOX: 1230</p>
            <p>Postal Code: 211</p>
        </div>
        <div class="col-1-of-3 text-center column-element">
            <i style="color: #007bff;" class="display-4 fas fa-envelope"></i>
            <h4>EMAIL</h4>
            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="mailto:dawahi.survey@gmail.com">dawahi.survey@gmail.com</a>
        </div>
        <div class="col-1-of-3 text-center column-element">
            <i style="color: #007bff;" class="display-4 fas fa-phone"></i>
            <h4>PHONE</h4>
            <P>G.S.M: +968 9264 0908</P>

        </div>
     </div>
</section>
<section class="primary-contacts mb-5">
    <h5 class="display-6 text-center">PRIMARY CONTACTS</h5>
    <div class="row column-element mb-5">
        <div class="col-1-of-4 text-center" style="width: 200px; margin-right: 1px;">
            <img src="/ceo.png" alt="Head of Operations" class="rounded-circle img-fluid" style="max-width: 150px;">
        </div>
        <div class="col-3-of-4">
            <h4>CEO</h4>
            <p>Muhammad Waqar Abid</p>
            <p><i style="color: #007bff;" class="fas fa-phone"></i> G.S.M: <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="tel:+968 9264 0908">+968 9264 0908</a></p>
            <p><i style="color: #007bff;" class="fas fa-envelope"></i> <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="mailto:waqarabid786@gmail.com">waqarabid786@gmail.com</a></p>
        </div>
    </div>
    
     <div class="row column-element mb-5">
        <div class="col-1-of-4" style="width: 200px; margin-right: 1px;">
            <img src="/scale.png" alt="Head of Operations" class="img-fluid" style="max-width: 150px;">
        </div>
        <div class="col-3-of-4">
            <h4>SURVEY DEPARTMENT</h4>
            <P>G.S.M: <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="tel:+968 9395 6010">+968 9395 6010</a></P>
        </div>
     </div>
     <div class="row column-element mb-5">
        <div class="col-1-of-4" style="width: 200px; margin-right: 1px;">
            <img src="/scale1.png" alt="Head of Operations" class="img-fluid" style="max-width: 150px;">
        </div>
        <div class="col-3-of-4">
            <h4>DESIGN DEPARTMENT</h4>
            <p>G.S.M: <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="tel:+968 7731 3786">+968 7731 3786</a></p>
        </div>
     </div>

</section>
