<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css">

<div class="header">
<h1 class="heading-main">Complete Surveying & Engineering Solutions</h1>
<div class="chairman-container-p">
    <p class="heading-detail">
            <img src="/chairman.png" alt="" class="chairman-image-p rounded-circle">
            <h1>Chairman's Message</h1>
                        <p class="services-paragraph" style="text-transform:capitalize; color: rgb(255, 255, 255); font-family: Montserrat; font-weight: light; font-size: 20px;">" Dawahi AlGhayzeen United Trading EST. will provide outstanding Professional & Expert Land Surveying & Civil Designing Services To All Relevant Markets in Sultanate Of Oman"<br>
                    </p>
                    <h3>Shahab Khadoom Fadil Al Hosni</h3>
                        <a href="#services" class="btn btn-primary" style="margin-bottom: -1;">Our Services</a>
    </p>
</div>
    <div style="padding-top: 20px; padding-bottom: 20px;  text-align: left;">
      <div class="chairman-container">
        <div class="row" style="height: 230px;">
            <div class="col-1-of-4" style="margin-right: 0px;">
                <div class="chairman-image">
                </div>
            </div>
            <div class="col-3-of-4">
                <div class="chairman-text">
                <h1>Chairman's Message</h1>
                <p class="services-paragraph" style="text-transform:capitalize; color: rgb(255, 255, 255); font-family: Montserrat; font-weight: light; font-size: 20px;">"Dawahi AlGhayzeen United Trading EST. will provide outstanding Professional & Expert Land Surveying & Civil Designing Services To All Relevant Markets in Sultanate Of Oman"<br>
               </p>
               <h3>Shahab Khadoom Fadil Al Hosni</h3>
                <a href="#services" class="btn btn-primary" style="margin-bottom: -1;">Our Services</a>
            </div>
            </div>
        </div>
    </div>
    </div>
        
    </div>
    </div>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    
    <section class="about">
        <div class="row styled-row">
            <div class="col-1-of-3">
                <h3>About Us</h3>
                <h2 style="font-size: 35px; font-weight: 200;">Building Dreams, Crafting Reality.</h2>
        <p class="services-paragraph">It is a pleasure to express ourself that we are a Contracting and leading Land Survey service providing company here in Sultanate of Oman with high profile latest sophisticated instruments of survey such as 3D laser total stations GPS to meet your any range of requirement. </p>
        </div>
            <div class="col-1-of-3">
                <p class="services-paragraph">With our well-trained qualified staffs, our performance in field of survey and presentable drawings we are one step ahead in this competent market. We have successfully completed several major projects in Sultanate of Oman for our reputed clients. <a href="/about">Read More</a></p>
                <h2 style="font-size: 35px; font-weight: 200;">Creating Spaces that Stand the Test of Time</h2>
                <a href="/contactInfo" class="btn btn-primary btn-sm">Contact Us</a>
            </div>
            <div class="col-1-of-3">
                <div class="row" style="margin-bottom: 65px;">
                    <div class="col-1-of-2">
                        <img style="height: 65%; width: 100%;" src="/icon.png" alt="">  
                        <b>High Quality Equipments</b>                          
                    </div>
                    <div class="col-1-of-2">
                        <img style="height: 65%; width: 100%;" src="/maintained-icon.png" alt="">    
                        <b>Regular Calibration and Maintenance</b>                        
                    </div>
                 </div>
                <div class="row">
                    <div class="col-1-of-2">
                            <img style="height: 80%; width: 100%;" src="/scale.png" alt="">
                            <b>High Precision</b>
                    </div>
                    <div class="col-1-of-2">
                            <img style="height: 80%; width: 100%;" src="/scale1.png" alt="">
                            <b>Best Planning</b>
                    </div>
                 </div>
            </div>
        </div>
    </section>


    <section class="about-2" style="height: auto; height: 500px; width: 100%; background-color: #F0F8FF;  border-left: 15px solid  #007bff;  border-right: 15px solid  #007bff; padding: 10px;height: auto; margin-top: 20px;"            >
                <h3>About Us</h3>
                <h2 style="font-size: 30px; font-weight: 200;">Building Dreams, Crafting Reality.</h2>
        <p class="services-paragraph">It is a pleasure to express ourself that we are a Contracting and leading Land Survey service providing company here in Sultanate of Oman with high profile latest sophisticated instruments of survey such as 3D laser total stations GPS to meet your any range of requirement.With our well-trained qualified staffs, our performance in field of survey and presentable drawings we are one step ahead in this competent market. We have successfully completed several major projects in Sultanate of Oman for our reputed clients.  <a href="/about">Read More</a></p>
        <a href="/contactInfo" class="btn btn-primary btn-sm">Contact Us</a> <br>
        <div style="text-align: center;">
        <img src="/multiple-icons.png" alt="" width="50%" height="auto"> 
        </div>
        </div>
    </section>

        <div style="width: 100%;">
        <section class="quote" style="height: auto;">
                <div class="row">
                    <div class="col-1-of-3">
                        <h1 class="quote-text-number">20</h1>
                        <p class="services-paragraph"><b>Years Of Experience</b></p>
                    </div>
                    <div class="col-1-of-3">
                        <h1 class="quote-text-number">05</h1>
                        <p class="services-paragraph"><b>Branches Across The Country</b></p>
                    </div>
                    <div class="col-1-of-3">
                        <h1 class="quote-text-number">+2K</h1>
                        <p class="services-paragraph"><b>Projects We Worked On</b></p>
                    </div>
                </div>
        </section>
    </div>

    <div id="services" class="client-header text-center mb-2 mt-5">
        <h1 class="client-heading">Our Top Services</h1> <br>
        <a href="/services" class="btn btn-outline-primary btn-sm">SEE ALL SERVICES</a>
    </div>
        <section class="hero-section pt-5">
          <div class="card-grid">
            <a class="card" href="#">
              <div class="card__background" style="background-image: url(/survey2.jpg)"></div>
              <div class="card__content">
                <h3 class="card__heading">Topographical Survey</h3>
                <p class="card__category">We conduct surveys using advanced technology for precise site mapping.</p>
              </div>
            </a>
            <a class="card" href="#">
              <div class="card__background" style="background-image: url(/as-built-survey.jpg)"></div>
              <div class="card__content">
                <h3 class="card__heading">Grid Surveying</h3>
                <p class="card__category">We assist in determining site levels and contours for precise planning.</p>
              </div>
            </a>
            <a class="card" href="#">
              <div class="card__background" style="background-image: url(/survey.webp)"></div>
              <div class="card__content">
                <h3 class="card__heading">Earth Works Survey & Volume Calculations</h3>
                <p class="card__category">Surface modeling for accurate volume calculations in earthworks.</p>
              </div>
            </li>
            <a class="card" href="#">
              <div class="card__background" style=" background-image: url(/calc.webp)"></div>
              <div class="card__content">
                <h3 class="card__heading">CAD Services</h3>
                <p class="card__category">Design data in AutoCAD, available in multiple formats.</p>
              </div>
            </a>
          <div>
        </section>


        <div class="row why-choose-us" style="height: 390px; width: 100%; background-color: #F0F8FF;  border-left: 15px solid  #007bff;  border-right: 15px solid  #007bff;">
            <div class="col-2-of-3">
                <h3>Why Choose Us</h3>
                <p class="services-paragraph">Our company is a trusted leader in land surveying and contracting in the Sultanate of Oman, equipped with cutting-edge 3D laser total stations and GPS technology to handle diverse survey requirements with precision. With a team of highly qualified professionals, we are committed to delivering exceptional quality, accuracy, and clear, presentable results in every project. Our successful completion of numerous high-profile projects across the Sultanate of Oman has earned us the trust of esteemed clients. Offering a wide range of services from civil engineering to GIS development and environmental planning, we provide comprehensive solutions tailored to meet the unique needs of each project.</p>
                <h2 style="font-size: 35px; font-weight: 200;">Creating Spaces that Stand the Test of Time</h2>
                <a href="#clients" class="btn btn-primary">See Our Clients</a>
            </div>
            <div class="col-1-of-3">
                <div class="row" style="margin-bottom: 65px;">
                    <div class="col-1-of-2">
                        <img style="height: 80%; width: 100%;" src="/teamwork.gif" alt="">  
                        <b>Qualified and Experienced Team</b>                          
                    </div>
                    <div class="col-1-of-2">
                        <img style="height: 80%; width: 100%;" src="/chart.gif" alt="">    
                        <b>Proven Track Record</b>                        
                    </div>
                 </div>
                <div class="row">
                    <div class="col-1-of-2">
                            <img style="height: 80%; width: 100%;" src="/solution.gif" alt="">
                            <b>Comprehensive Solutions</b>
                    </div>
                    <div class="col-1-of-2">
                            <img style="height: 80%; width: 100%;" src="/helmet.gif" alt="">
                            <b>Expertise and Innovation</b>
                    </div>
                 </div>
            </div>
         </div>
        <div class="why-choose-us-2" style="height: 500px; width: 100%; background-color: #F0F8FF;  border-left: 15px solid  #007bff;  border-right: 15px solid  #007bff; padding: 10px;height: auto;">
                <h3>Why Choose Us</h3>
                <p class="services-paragraph">Our company is a trusted leader in land surveying and contracting in the Sultanate of Oman, equipped with cutting-edge 3D laser total stations and GPS technology to handle diverse survey requirements with precision. With a team of highly qualified professionals, we are committed to delivering exceptional quality, accuracy, and clear, presentable results in every project. Our successful completion of numerous high-profile projects across the Sultanate of Oman has earned us the trust of esteemed clients. Offering a wide range of services from civil engineering to GIS development and environmental planning, we provide comprehensive solutions tailored to meet the unique needs of each project/p>
                <h2 style="font-size: 35px; font-weight: 200;">Creating Spaces that Stand the Test of Time</h2>
                <a href="#clients" class="btn btn-primary">See Our Clients</a><br>
                <div style="text-align: center;">
                <img src="/multiple-icons-2.png" alt="" width="40%" height="auto" >
            </div>
         </div>

    <section class="values">
        <div class="client-header mt-5 mb-0">
            <h1 class="client-heading mt-5">Our Values</h1>
       </div>
        <div class="row" style="margin-bottom: -5px;">
            <div class="col-1-of-2 mb-0">
                <div  class="value-01" >
                    <h1 class="value-number">01</h1>
                </div>
            </div>
            <div class="col-1-of-2">
                <h2 class="display-5" style=" padding-top: 25%;">Safety</h2>
                <h3 style="font-weight:300;">Prioritizing the well-being of workers, clients, and the public by adhering to stringent safety protocols and ensuring a safe work environment.</h3>
            </div>
         </div>
        <div class="row" style="margin-bottom: -5px;">
            <div class="col-1-of-2">
                <h2 class="display-5" style=" padding-top: 25%;">Quality</h2>
                <h3 style="font-weight:300;">Delivering high-quality work by using durable materials, skilled craftsmanship, and maintaining attention to detail throughout the project.</h3>
            </div>
            <div class="col-1-of-2 mb-0">
                <div  class="value-02" >
                    <h1 class="value-number">02</h1>
                </div>
            </div>
         </div>
        <div class="row" style="margin-bottom: -5px;">
            <div class="col-1-of-2 mb-0">
                <div  class="value-03" >
                    <h1 class="value-number">03</h1>
                </div>
            </div>
            <div class="col-1-of-2">
                <h2 class="display-5" style=" padding-top: 25%;">Integrity</h2>
                <h3 style="font-weight:300;">Upholding honesty, transparency, and ethical practices in all interactions, from project bidding to execution.</h3>
            </div>
         </div>
        <div class="row" style="margin-bottom: 70px;">
            <div class="col-1-of-2">
                <h2 class="display-5" style=" padding-top: 25%;">Sustainability</h2>
                <h3 style="font-weight:300;">Focusing on environmentally responsible practices, minimizing waste, and using sustainable materials and energy-efficient methods.</h3>
            </div>
            <div class="col-1-of-2 mb-0">
                <div  class="value-04" >
                    <h1 class="value-number">04</h1>
                </div>
            </div>
         </div>
    </section>
    <section class="values2">
        <div class="row">
            <div class="col-1-of-4 mb-0">
                <div  class="value-01" >
                    <h1 class="value-number">01</h1>
                </div>
            </div>
            <div class="col-3-of-4">
                <h2 class="display-5" style=" padding-top: 15%;">Safety</h2>
                <h3 style="font-weight:300;">Prioritizing the well-being of workers, clients, and the public by adhering to stringent safety protocols and ensuring a safe work environment.</h3>
            </div>
         </div>
        <div class="row">
            <div class="col-1-of-4 mb-0">
                <div  class="value-02" >
                    <h1 class="value-number">02</h1>
                </div>
            </div>
            <div class="col-3-of-4">
                <h2 class="display-5" style=" padding-top: 15%;">Quality</h2>
                <h3 style="font-weight:300;">Delivering high-quality work by using durable materials, skilled craftsmanship, and maintaining attention to detail throughout the project.</h3>
            </div>
         </div>
        <div class="row">
            <div class="col-1-of-4 mb-0">
                <div  class="value-03" >
                    <h1 class="value-number">03</h1>
                </div>
            </div>
            <div class="col-3-of-4">
                <h2 class="display-5" style=" padding-top: 15%;">Integrity</h2>
                <h3 style="font-weight:300;">Upholding honesty, transparency, and ethical practices in all interactions, from project bidding to execution.</h3>
            </div>
         </div>
        <div class="row">
            <div class="col-1-of-4 mb-0">
                <div  class="value-04" >
                    <h1 class="value-number">04</h1>
                </div>
            </div>
            <div class="col-3-of-4">
                <h2 class="display-5" style=" padding-top: 15%;">Sustainability</h2>
                <h3 style="font-weight:300;">Focusing on environmentally responsible practices, minimizing waste, and using sustainable materials and energy-efficient methods.</h3>
            </div>
         </div>
    </section>
        <section class="quote" style="height: auto;">
           <div class="box-1" style="width: auto;"></div>
           <div class="box-2" style="width: auto;"></div>
           <p class="heading-main" style="padding-top: 20px;">"Building Dreams, Crafting Reality."</p>
        </section>

        <div id="clients"  class="client-header text-center">
            <h1 class="client-heading">Our Top Clients</h1>
            <p style="color: #007bff;">SCROLL TO SEE ALL</p>
        </div>
<div class="scrollable-list">
    <section class="client-section">

        <div class="client-columns">
            <!-- Column 1 -->
            <div class="client-column">
                <div class="client-card">
                    <img src="/larsen-and-toubro.png" alt="Larsen & Toubro Limited" class="client-logo">
                    <h2 class="client-name">Larsen & Toubro (Oman) LLC</h2>
                </div>
                <div class="client-card">
                    <img src="/averda.png" alt="Averda Waste Management LLC (Oman)" class="client-logo">
                    <h2 class="client-name">Averda Waste Management LLC (Oman)</h2>
                </div>
                <div class="client-card">
                    <img src="/arabian.png" alt="Arabian Industries Projects LLC" class="client-logo">
                    <h2 class="client-name">Arabian Industries Projects LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/mohsin.png" alt="Mohsin Haider Darwish LLC" class="client-logo">
                    <h2 class="client-name">Mohsin Haider Darwish LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/towel2.png" alt="" class="client-logo">
                    <h2 class="client-name">TOWELL ENGINEERING GROUP</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/omanInter.png" alt="" class="client-logo">
                    <h2 class="client-name">Oman International Telecommunications Co. LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/doughls.png" alt="" class="client-logo">
                    <h2 class="client-name">Douglas OHI LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/best.png" alt="" class="client-logo">
                    <h2 class="client-name">Best Infrastructure Developers LLC</h2>
                </div>
            </div>
            
            <!-- Column 2 -->
            <div class="client-column">
                <div class="client-card">
                    <img src="/arkan.png" alt="Arkan Majan International LLC" class="client-logo">
                    <h2 class="client-name">Arkan Majan International LLC</h2>
                </div>
                <div class="client-card">
                    <img src="/orbital.png" alt="Orbital Projects & Services LLC" class="client-logo">
                    <h2 class="client-name">Orbital Projects & Services LLC</h2>
                </div>
                <div class="client-card">
                    <img src="/rafaa.png" alt="Al Rafaa Trading & Contracting Co. LLC" class="client-logo">
                    <h2 class="client-name">Al Rafaa Trading & Contracting Co. LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/al-amjad.png" alt="Al Amjad Construction & Engineering LLC" class="client-logo">
                    <h2 class="client-name">Al Amjad Construction & Engineering LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/rusayl.png" alt="" class="client-logo">
                    <h2 class="client-name">Rusayl Industrial City (Madayn)</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/comservice.png" alt="" class="client-logo">
                    <h2 class="client-name">CCS Comservice (Oman branch)</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/bahwan.png" alt="" class="client-logo">
                    <h2 class="client-name">Bahwan Projects & Telecom LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/khatib.png" alt="" class="client-logo">
                    <h2 class="client-name">Khatib & Alami and Partners LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/al-flalahy.png" alt="" class="client-logo">
                    <h2 class="client-name">Al Falahy Company LLC</h2>
                </div>
            </div>
            
            <!-- Column 3 -->
            <div class="client-column">
                <div class="client-card">
                    <img src="/watnia.png" alt="Al Watanyiah United Engineering & Contracting Co. LLC" class="client-logo">
                    <h2 class="client-name">Al Watanyiah United Engineering & Contracting Co. LLC</h2>
                </div>
                <div class="client-card">
                    <img src="/al-ansari.png" alt="Al Ansari Trading Enterprise LLC" class="client-logo">
                    <h2 class="client-name">Al Ansari Trading Enterprise LLC</h2>
                </div>
                <div class="client-card">
                    <img src="/mustafa.png" alt="Mustafa & Kamal Ashraf Trad.Co.LLC" class="client-logo">
                    <h2 class="client-name">Mustafa & Kamal Ashraf Trad.Co.LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/emtiaz.png" alt="Al-Emtiaz Al-Ahila Co. SAOC" class="client-logo">
                    <h2 class="client-name">Al-Emtiaz Al-Ahila Co. SAOC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/rukan.png" alt="" class="client-logo">
                    <h2 class="client-name">Rukan Al Yaqeen International LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/spectral.png" alt="" class="client-logo">
                    <h2 class="client-name">Spectral Link Business Solutions LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/osco.png" alt="" class="client-logo">
                    <h2 class="client-name">Oman Shapoorji Company LLC</h2>
                </div>
                <div class="client-card hidden">
                    <img src="/nafal.png" alt="" class="client-logo">
                    <h2 class="client-name">Nafal Contracting & Trading Co. LLC</h2>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="text-center">
    <a href="/projects" class="btn btn-outline-primary">OUR PROJECTS</a>
</div>
    

<!-- <section class="grid-test">
    <div class="row">
        <div class="col-1-of-2">
            col 1 of 2
        </div>
        <div class="col-1-of-2">
            Col 1 of 2
        </div>
     </div>

    <div class="row">
       <div class="col-1-of-3">
           Col 1 of 3
       </div>
       <div class="col-1-of-3">
           Col 1 of 3
       </div>
       <div class="col-1-of-3">
           Col 1 of 3
       </div>
   </div>

    <div class="row">
       <div class="col-1-of-3">
           Col 1 of 3
       </div>
       <div class="col-2-of-3">
           Col 2 of 3
       </div>
    </div>

    <div class="row">
       <div class="col-1-of-4">
           Col 1 of 4
       </div>
       <div class="col-1-of-4">
           Col 1 of 4
       </div>
       <div class="col-1-of-4">
           Col 1 of 4
       </div>
       <div class="col-1-of-4">
           Col 1 of 4
       </div>
    </div>
    <div class="row">
       <div class="col-1-of-4">
           Col 1 of 4
       </div>
       <div class="col-1-of-4">
           Col 1 of 4
       </div>
       <div class="col-2-of-4">
           Col 2 of 4
       </div>
    </div>
    <div class="row">
       <div class="col-1-of-4">
           Col 1 of 4
       </div>
       <div class="col-3-of-4">
           Col 3 of 4
       </div>
    </div>
</section> -->