<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/projects.css">
<div class="text-center">
<h1 class="display-4 text-center" style="border-bottom: 3px solid #007bff; display: inline;">Some of Our Major Projects</h1><br>
<a href="#gallery" class="btn btn-outline-primary btn-sm mt-3">Have a look at our Project Gallery</a>
</div>
<main>
    <ol class="gradient-list">
        <li>Al Sharqiyah Expressway Section-2 Part-1 (IBRA - AL KAMIL)</li>
        <li>Construction of Infrastructure Facilities</li>
        <li>Development of Salalah International Airport</li>
        <li>AD' Dakhliya Water Transmission PH-2</li> 
        <li>Route Alignment for Electrical Services at Fahud,Yibal,Lakhweir in PDO</li>
        <li>Development of Oman Oil Camp at Abu Tabul PDO</li>
        <li>PDO - Gas Plant at Daleel</li>
        <li>Construction of Waste Management Area (BP KHAZZAN)</li> 
        <li>PAEW Project at Sur</li>
        <li>PAEW Project at Sinaw</li>
        <li>North East Development Project at Mabrouk (PDO)</li>
        <li>Development of Internal Roads Project at Haima</li>
        <li>Development of Internal Roads Project at Mahout</li>
        <li>Manah-2 Solar Independent Power Project at Manah</li>
        <li>Manah-1 Solar Power Station 33 Block Piles Project at Manah</li>
        <li>PDO Project (Construction of Al Bahaj to Zauliyah Road)</li>
        <li>32" / 18" Pipe Line from Al Duqm GSS Plot to DRPIC Sraper Receiver Station</li>
        <li>Royal Oman Police (ROP) Academy Package-B at Thymza Nizwa</li>
        <li>Construction of Batina Expressway (PKG-02)</li>
        <li>Rusayl Industrial City Project</li>
        <li>PAEW Project at Sohar & Salalah</li>
        <li>A'seeb Wastewater Project Extension to Existing Network Package-II</li>
        <li>Boushar Waste Water Network Project (B3B) at Al Khuwair</li>
        <li>Cruid Oil Project at Ras Markaz</li>
        <li>Duqm Refinery Project (EPC-01)</li>
        <li>Duqm Refinery Project (EPC-02)</li>
        <li>Bunker Terminal Oman Oil Project at Duqm</li>
        <li>Construction of Water Distribution Networks Project at Manah</li>
        <li>Ooredoo Networks Projects (Sultanate of Oman)</li>
        <li>Oman Broad Band (OBB) Networks Projects (Sultanate of Oman)</li>
        <li>Airport Project at Qarnalam</li>
        <li>Airport Project at Marmul</li>
        <li>Construction of 132KV Wadi Bani Auf Grid Station</li>
        <li>Fixing of Electrical Towers (33KV) for OHL Project</li>
        <li>Construction of A'Namaa Poultry Farm at Ibri</li>
        <li>Construction of Border Post Complex at Al Wajajah</li>
        <li>PDO Projects</li>
        <li>OQ Projects</li>
        <li>OXY Projects</li>
    </ol>
    <strong>And Also We worked at many other different type of Projects with different Clients, Private Contractors & Sub-Contractors in Sultanate of Oman</strong>
    <br>
    <p>For details download the PDF file <a href="/files/projects.pdf" download="All Projects" class="btn btn-outline-primary">All Projects</a></p>  
</main>
<h2 id="gallery" class="display-5 text-center mt-5">Project Gallery</h2>
<div class="scrollable-list mb-5">
    <% for (let i = 0; i < images.length; i += 2) { %>
        <div class="row mb-5">
            <% if (images[i]) { %>
                <div class="col-1-of-2" style="border-radius: 10px; height: 300px; background-position: center; background-size: cover; background-image: url('/project-gallery/<%= images[i] %>');">
                </div>
            <% } %>
            <% if (images[i + 1]) { %>
                <div class="col-1-of-2" style="border-radius: 10px; height: 300px; background-position: center; background-size: cover; background-image: url('/project-gallery/<%= images[i + 1] %>');">
                </div>
            <% } %>
        </div>
    <% } %>    
</div>
  