<% layout('layouts/boilerplate') %>
<head>
  <title>Meet Our Team | Dawahi Alghayzeen United Surveying Experts</title>
  <meta name="description" content="Get to know the skilled professionals behind Dawahi Alghayzeen United who bring years of expertise in land surveying, engineering, and contracting.">
</head>
<link rel="stylesheet" href="/css/staffInfo.css">
<div class="staffInfoBody">
<h1 class="display-5 text-center mb-3"><span style="font-size: 1.8rem; font-weight: 400; border-bottom: 1px solid #007bff;">Meet The Key Members Of The</span> <br> <b class="text-primary">TEAM</b></h1>
    <div class="row text-center" style="padding: 10px;">
        <div class="col-1-of-2 box">
            <div class="user-image-3"></div>
            <h5 class="display-6">Muhammad Rizwan Inayat</h5>
            <h5>Survey Engineer</h5>
        </div>
        <div class="col-1-of-2 box">
            <div class="user-image-4"></div>
            <h5 class="display-6">Ikram-Ul-Haq</h5>
            <h5>Design Engineer</h5>
        </div>
    </div>
    <div class="container">
        <h1 style="font-size: 2.5rem; font-weight: 400;">Rest Of The Staff Consists Of</h1>
        <ul>
            <li>
                <h3 class="text-primary" style="font-size: 1.5rem; font-weight: 400;">15 Senior Land Surveyor</h3>
            </li>
            <li>
                <h3 class="text-primary" style="font-size: 1.5rem; font-weight: 400;">25 Land Surveyors</h3> 
            </li>
            <li>
                <h3 class="text-primary" style="font-size: 1.5rem; font-weight: 400;">05 Civil Draughtsman</h3>
            </li>
        </ul>
            
            <h6>We have PDO - OQ - OXY Approved Surveyors  (with all related required documents) for Oil & Gas Projects</h6>
            
            <h6>Also many others Survey Assistants / Helpers & LTV Drivers</h6>
    </div>

    <div class="container mb-5 my-3">
     <p class="text-primary h5"><b>With the Above Strength we are in a position to accomplish any volume of survey job in limited targeted time schedule</b></p>
    </div>
</div>